.DS_Store
.history
.bundle
.idea
.idea_modules
*.iml
*.sublime-project
*.sublime-workspace
.scala_dependencies
.worksheet

dev
dist
logs
out
target
tmp
project/project
project/target
dynamodb-local

api/conf/keys.conf
api/public/
