.DS_Store

logs
project/project
project/target
project/metals.sbt
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
dynamodb-local/

# Scala-IDE specific
.scala_dependencies
.worksheet

.ensime_cache/
.ensime

local.*
.bloop
.metals
.vscode
.bsp
